/* src/styles/fonts.css */

/* Satoshi Regular */
@font-face {
  font-family: 'Satoshi';
  src: url('/fonts/satoshi/Satoshi-Regular.otf') format('opentype');
  font-weight: 400; /* Regular weight */
  font-style: normal;
  font-display: swap;
}

/* Satoshi Regular Italic */
@font-face {
  font-family: 'Satoshi';
  src: url('/fonts/satoshi/Satoshi-Italic.otf') format('opentype');
  font-weight: 400; /* Regular weight */
  font-style: italic;
  font-display: swap;
}

/* Satoshi Light */
@font-face {
  font-family: 'Satoshi';
  src: url('/fonts/satoshi/Satoshi-Light.otf') format('opentype');
  font-weight: 300; /* Light weight */
  font-style: normal;
  font-display: swap;
}

/* Satoshi Light Italic */
@font-face {
  font-family: 'Satoshi';
  src: url('/fonts/satoshi/Satoshi-LightItalic.otf') format('opentype');
  font-weight: 300; /* Light weight */
  font-style: italic;
  font-display: swap;
}

/* Satoshi Medium */
@font-face {
  font-family: 'Satoshi';
  src: url('/fonts/satoshi/Satoshi-Medium.otf') format('opentype');
  font-weight: 500; /* Medium weight */
  font-style: normal;
  font-display: swap;
}

/* Satoshi Medium Italic */
@font-face {
  font-family: 'Satoshi';
  src: url('/fonts/satoshi/Satoshi-MediumItalic.otf') format('opentype');
  font-weight: 500; /* Medium weight */
  font-style: italic;
  font-display: swap;
}

/* Satoshi Bold */
@font-face {
  font-family: 'Satoshi';
  src: url('/fonts/satoshi/Satoshi-Bold.otf') format('opentype');
  font-weight: 700; /* Bold weight */
  font-style: normal;
  font-display: swap;
}

/* Satoshi Bold Italic */
@font-face {
  font-family: 'Satoshi';
  src: url('/fonts/satoshi/Satoshi-BoldItalic.otf') format('opentype');
  font-weight: 700; /* Bold weight */
  font-style: italic;
  font-display: swap;
}

/* Satoshi Black */
@font-face {
  font-family: 'Satoshi';
  src: url('/fonts/satoshi/Satoshi-Black.otf') format('opentype');
  font-weight: 900; /* Black weight */
  font-style: normal;
  font-display: swap;
}

/* Satoshi Black Italic */
@font-face {
  font-family: 'Satoshi';
  src: url('/fonts/satoshi/Satoshi-BlackItalic.otf') format('opentype');
  font-weight: 900; /* Black weight */
  font-style: italic;
  font-display: swap;
}